.about{
    color:$base-color;
    text-align: center;
    background-color: #ebebeb;
    padding:40px 0 80px 0;
    &:before{
        content:'';
        left: 50%;
        width: 100px;
        height: 100px;
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
    }
    .about-wrapper{
        width: 30%;
        margin: auto;
        .about-wrapper__title{
            margin-bottom: 2.5rem;
        }
        .about-wrapper__text{
            font-size: 0.8rem;
            line-height: 1.3rem;
            letter-spacing: 0.5px;
        }
    }

}
.separator{
    position:relative;
    width:100%;
    margin-bottom: 4rem;
    &::before{
        background-color: #ebebeb;
        right: 50%;
        height: 40px !important;
        border-radius: 0 0 40px 0;
        content: '';
        position: absolute;
        width: 50%;
    }
    &::after{
        background-color: #ebebeb;
        left: 50%;
        height: 40px !important;
        border-radius: 0 0 40px 0;
        content: '';
        position: absolute;
        width: 50%;
        border-radius: 0 0 0 40px;
    }
}
.counter-about{
    text-align: center;
    color:$base-color;
    
}