footer{
    text-align: center;
    color:$base-color;
    font-family: $base-font-p;
    margin:30px 0;
    address{
        font-size:1rem;
    }
    a {
        color:$base-color;
        &:hover{
            color:$hover-color;
        }
    }
    
    
}