footer{
    text-align: center;
    color:$base-color;
    font-family: $base-font-p;
    margin:30px 0;
    address{
        font-size:1rem;
        svg{
            margin-right:7px;
        }
    }
    .icon-block{
    .icon{
        svg{
            height: 25px;
            width: auto;
        }
        *:first-child{
            margin-right: 10px;
        }
    }
}
    a {
        color:$base-color;
        &:hover{
            color:$hover-color;
        }
    }
    
    
}